body{
    background: rgba(36, 33, 33, 0.911);
    padding: 20px;
}

.container{
    background: gainsboro;
    border: solid black 1px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 50px;
    width: fit-content;
}

form, h2{
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

h2{
    margin-bottom: 25px;
}

input{
    margin-top: 10px;
}

a{
    display: block;
    padding: 3px;
    text-decoration: none;
    color: black;
    border: solid black 1px;
    border-radius: 5px;
    width: fit-content;
    margin-top: 10px;
}

a:hover{
    background-color: grey;
}